C:\\Users\\MADHU\\Desktop\\intern\\DA Project Details\\ECOMM DATA - Copy.xlsx
C:\\Users\\MADHU\\Desktop\\intern\\DA Project Details\\Titanic-Dataset - Copy.csv
C:\Users\MADHU\Desktop\intern\DA Project Details\HR Data - Copy.xlsx